body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

$box_size: 100px;
$start_days: (0:"mon", 1:"tue", 2:"wed", 3:"thu", 4:"fri", 5:"sat", 6:"sun");
$days_in_week: 7;
$gap_size: 1px;

@mixin box-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $box_size;
  width: $box_size;
  border: 1px solid #000;
  background-color: #eee;
  margin: 0 1px 1px 0;
  transition: background-color 0.5s, transform 0.5s;
}

@mixin box_hover_style {
  cursor: pointer;
  background-color: pink;
  transform: translate(0, -20px);
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: $box_size * $days_in_week + 7px;

  div {
    @include box-style;
  }

  div:hover {
    @include box_hover_style;
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} {

    @for $j from 1 through $i {
      & :nth-child(#{$j})::after {
        content: "#{$j}";
      }
    }
  }
}

@each $num, $day in $start_days {
  .calendar-#{$day} div:first-child {
    margin-left: ($box_size + $gap_size ) * $num;
  }
}
